<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="..\css\bootstrap.min.css">
    <link rel="stylesheet" href="..\css\gallery.css">
    <title>Gallery</title>
</head>
<body>


    <!-- <--------------------Navbar------------------>


<div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#"><img class="navlogo" src="..\media\Satkartar Logo.png" alt="error"></a></div>
        <ul class="links">
          <li><a href="..\index.html">Home</a></li>
          <li>
            <a href="..\view\Services.html" class="desktop-link">Services</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
                <li><a href="..\view\IELTS.html"><i class="fas fa-book-open"></i> IELTS</a></li>
                <li><a href="..\view\PTE.html"><i class="fas fa-book-open"></i> PTE</a></li>
            </ul>
          </li>
          <li>
            <a href=" " class="desktop-link">Educational Destination</a>
            <input type="checkbox" id="show-destination">
            <label for="show-destination">Educational Destination</label>
            <ul>
                <li><a href="..\view\united-kingdom.html"><i class="fas fa-graduation-cap"></i> United Kingdom</a></li>
                <li><a href="..\view\australia.html"><i class="fas fa-graduation-cap"></i> Australia</a></li>
                <li><a href="..\view\canada.html"><i class="fas fa-graduation-cap"></i> Canada</a></li>
                <li><a href="..\view\new-zealand.html"><i class="fas fa-graduation-cap"></i> New Zealand</a></li>
            </ul>
          </li>
          <li><a href="..\view\gallery.html">Gallery</a></li>
          <li><a href="..\view\about.html">About</a></li>
          <li><a href="..\view\WhyUs.html">WhyUs</a></li>
          <li><a href="..\view\contact.html">Contact Us</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div><br><br><br>
  <br>


  <!-- <------------------------Body------------------------> 


    <h1 class="photoheading">Our Photo Gallery</h1>
    <section>
        <div class="top">
            <ul>
                <li class="list active" data-filter="all">All</li>
                <li class="list" data-filter="view">View</li>
                <li class="list" data-filter="interior">Interior</li>
                <li class="list" data-filter="classes">Classes</li>
            </ul>
        </div>
        <div class="product">
            <div class="itemBox view"><img src="..\Gmedia\place.jpg" alt=""></div>
            <div class="itemBox view"><img src="..\Gmedia\IMG-20220129-WA0045.jpg" alt=""></div>
            <div class="itemBox interior"><img src="..\Gmedia\IMG-20220129-WA0020.jpg" alt=""></div>
            <div class="itemBox interior"><img src="..\Gmedia\IMG-20220129-WA0027.jpg" alt=""></div>
            <div class="itemBox view"><img src="..\Gmedia\IMG-20220129-WA0056.jpg" alt=""></div>
            <div class="itemBox view"><img src="..\Gmedia\IMG-20220129-WA0039.jpg" alt=""></div>
            <div class="itemBox classes"><img src="..\Gmedia\IMG-20220129-WA0033.jpg" alt=""></div>
            <div class="itemBox view"><img src="..\Gmedia\IMG-20220129-WA0038.jpg" alt=""></div>
            <div class="itemBox classes"><img src="..\Gmedia\IMG-20220129-WA0024.jpg" alt=""></div>
            <div class="itemBox interior"><img src="..\Gmedia\IMG-20220129-WA0035.jpg" alt=""></div>
            <div class="itemBox classes"><img src="..\Gmedia\IMG-20220129-WA0036.jpg" alt=""></div>
            <div class="itemBox interior"><img src="..\Gmedia\IMG-20220129-WA0026.jpg" alt=""></div>
            <div class="itemBox interior"><img src="..\Gmedia\IMG-20220129-WA0052.jpg" alt=""></div>
            <div class="itemBox interior"><img src="..\Gmedia\IMG-20220129-WA0017.jpg" alt=""></div>
            <div class="itemBox interior"><img src="..\Gmedia\IMG-20220129-WA0053.jpg" alt=""></div>
            <div class="itemBox classes"><img src="..\Gmedia\IMG-20220129-WA0022.jpg" alt=""></div>
            <div class="itemBox classes"><img src="..\Gmedia\IMG-20220129-WA0023.jpg" alt=""></div>
            <div class="itemBox interior"><img src="..\Gmedia\IMG-20220129-WA0037.jpg" alt=""></div>
            <div class="itemBox view"><img src="..\Gmedia\IMG-20220129-WA0043.jpg" alt=""></div>
            <div class="itemBox view"><img src="..\Gmedia\IMG-20220129-WA0046.jpg" alt=""></div>
            <div class="itemBox view"><img src="..\Gmedia\IMG-20220129-WA0030.jpg" alt=""></div>
            <div class="itemBox classes"><img src="..\Gmedia\IMG-20220129-WA0028.jpg" alt=""></div>
            <div class="itemBox view"><img src="..\Gmedia\IMG-20220129-WA0049.jpg" alt=""></div>
            <div class="itemBox classes"><img src="..\Gmedia\IMG-20220129-WA0025.jpg" alt=""></div>
        </div>
    </section>


    <!-- < ----------------Slider---------------->
<div class="slider">
  <h1 class="glance">Glance</h1>
  <br>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..\Gmedia\IMG-20220129-WA0049.jpg" class="d-block " alt="error">
    </div>
    <div class="carousel-item">
      <img src="..\Gmedia\IMG-20220129-WA0038.jpg" class="d-block " alt="error">
    </div>
    <div class="carousel-item">
      <img src="..\Gmedia\IMG-20220129-WA0046.jpg" class="d-block " alt="error">
    </div>
    <div class="carousel-item">
      <img src="..\Gmedia\IMG-20220129-WA0026.jpg" class="d-block " alt="error">
    </div>
    <div class="carousel-item">
      <img src="..\Gmedia\IMG-20220129-WA0030.jpg" class="d-block " alt="error">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <!-- <span class="visually-hidden">Previous</span> -->
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <!-- <span class="visually-hidden">Next</span> -->
  </a>
</div>
<br>
</div>
<br><br>


    <!-- <------------------Footer-------------------------->

<div class="container-fluid six">
    <div class="row">
        <div class="col-md-4 location">
            <h3 class="footheading"><strong>CONTACT</strong></h3>
            <p class="footpara">Adress: Near Sahota Hospital, opposite water tank,Moradabad road kashipur (244713)
                <br>
                Mobile No: 7249912100 /  7249912200;
                <br>
                Email: satkartarinningration@gmail.com
                <br>
                Opening Hours
                <br>
                Monday: 9:30am - 6:30pm <br>
                Tuesday: 9:30am - 6:30pm <br>
                Wednesday: 9:30am - 6:30pm <br>
                Thursday: 9:30am - 6:30pm <br>
                Friday: 9:30am - 6:30pm <br>
                Saturday: 9:30am - 5:30pm <br>
                Sunday: Closed
            </p>
        </div>
        <div class="col-md-4 around">
            <h3 class="footheading"><strong>AROUND THE WEB</strong></h3>
            <p class="icons">
                <i id="icon" class="fab fa-facebook"></i>
                <i id="icon" class="fab fa-instagram"></i>
                <i id="icon" class="fab fa-twitter"></i>
                <i id="icon" class="fab fa-linkedin-in"></i>
                <i id="icon" class="fas fa-at"></i>
            </p>
            <h3 class="footheading" id="deal"><strong>DEALS IN COUNTRY</strong></h3>
            <p class="footparadeal">
                Australia ,  Canada ,  New Zealand, U.S.A , United kingdom(U.K),
                Ireland,Singapore, Germany, France, Spain, Malta, UAE (United Arab Emirates), 
                Netherland, Sweden, Spain, Schengen. 
            </p>
        </div>
        <div class="col-md-4 freelancer">
            <h3 class="footheading"><strong>ABOUT</strong></h3>
            <p class="footpara">We at Satkartar have the answers to satisfy all your queries on “OPTIONS ABROAD”. We provide all
                immigration services and study options across the globe under one roof and under specified time
                limits. We are the best immigration consultants in Chandigarh.
                Satkartar IELTS institute in chandigarh train students for international courses like IELTS, PTE,
                Spoken English and lodge applications for higher education abroad. Apart from this, we even direct
                and assist students for embassy interviews and personality development.</p>
        </div>
    </div>
  </div>
  <div class="footerstrip">
    <p class="copyright">Copyright © Satkartar Immigration Website 2021</p>
  </div>
  
</body>
</html>
<script src="..\js\jquery-3.6.0.js"></script>
<script src="..\js\bootstrap.min.js"></script>  
<script src="..\js\gallery.js"></script>